.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .service > h2 {
    text-align: center; /* Centers the text */
    font-size: 3em; /* Adjust this value as needed */
    color: rgb(80, 125, 229);
  }
  
  .grid img {
    width: 100%;
    height: auto;
  }
  
  .grid button {
    width: 100%;
    margin-top: auto;
  }
  
  .grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .image-container {
    position: relative;
  }
  
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease-in-out;
  }
  
  .image.fade {
    opacity: 0;
  }
